# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/syncpaper

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
# vendor/

# Go workspace file
go.work

# Build & distribution artifacts
bin/
dist/

# OS and Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*~
.idea/
.vscode/

# Local user configs & logs
*.log
